h1 {
  color: red;
  font-size: 64px;
}
p {
  color: blue;
  font-size: 16px;
}

a {
  all: unset;
}

button {
  all: unset;
  background-color: blue;
  color: white;
  padding: 4px 6px;
  border-radius: 3px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}
